/* Import Google Fonts for a 'fantasy' theme. */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/* Styles for the page heading. */
h1 {
  color: #4d4c4b;
  font-family: 'Playfair Display', serif; 
  font-size: 2.5rem; 
  font-weight: 400;
  margin: 1;
  text-align: center;
}

/* Styles for the page/challenge description. */
body {
    background-color: #eeeae2;
    color: #4d4c4b;
    font-family: 'Lora', serif;
    font-size: 16px;
}